.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-main);
  gap: 16px;
  padding: 16px;
}

.header {
  background: var(--color-background-secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 24px;
  font-weight: 600;
}

.bottomSection {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
  width: 100%;
}

/* Ana kontrol bölümü, içindeki sıraları dikey hizalar */
.topControlsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

/* KPI satırı artık tek bir kutu gibi görünecek */
.kpiRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  background-color: var(--color-background-secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow-main);
}

/* Kontrol satırı, iki bileşeni yan yana hizalar */
.controlsRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}


@media (max-width: 1200px) {
  .kpiRow {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .controlsRow {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .bottomSection {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 768px) {
  .bottomSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .container {
    padding: 10px;
    gap: 10px;
  }
}